:root{
    --colore1: rgb(3,32,93);
    --colore2: rgb(148,194,233);
    --colore3: rgb(10,10,10);
    --colore4: rgb(227,227,227);




}

body{
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    color: var(--colore3);
    background-color: var(--colore4);

}

.titles{
    
    font-family: 'Unbounded', cursive;
    color: var(--colore3);
}

*{
    padding: 0;
    margin: 0;
}

.cstm-card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.cstm-card-body {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: var(--colore4);
}

.background {
    background-color:aliceblue;
}

.mod{
    position: relative;
    left: 0px;
}

.bg-header{
    background-color: var(--colore4);
}

.bg-sottotitolo{
    background-color: var(--colore1);
    color: var(--colore2);
    height: 60vh;
}

.razzo{
    height: 30vh;
}

.hcol{
    height: 40vh;
}



.annuncio{
    color: var(--colore3);
}

.bg-footer{
    
    color: var(--colore3);
    height: 30vh;
}

.bg-navbar{
    background-color: var(--colore4);
    color: var(--colore3);
}

.nav-link{
    color: var(--colore3)!important;

}

.colore1{
    color: var(--colore3);
}

.text{
    height: 0vh;
}